.mod-logo {
    border-radius: 30px;
}
.mod-favorite {
    width: 30px;
    color: #d926a9;
    margin-left: 10px;
}
/* .mod-description {
    width: 100%;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
} */
.mod-description, .mod-description:focus
{
}