doctype html
html.dark(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title SOTF-Mods.com - The Best Mods for Sons of The Forest
    link(href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css" rel="stylesheet" type="text/css")
    script(src="https://cdn.tailwindcss.com")
    link(rel='stylesheet' href='/static/css/layout.css')
    link(rel="apple-touch-icon", sizes="180x180", href="/static/images/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/static/images/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/static/images/favicon-16x16.png")
    link(rel="manifest", href="/static/images/site.webmanifest")
    meta(name="google-site-verification" content="vxxrg0hQHAfixX5iN3KQfy1FGRa4FTEJIw4PbtHNg3U")
    meta(name="theme-color" content="#fe0e0f")
    meta(name="twitter:card", content="summary_large_image")
    block meta
      meta(name="description", content="Find the best mods for Sons of The Forest at SOTF-Mods.com")
      meta(name="keywords", content="Sons of The Forest, mods, game mods, video game mods")
      meta(name="author", content="SOTF-Mods.com")
      meta(property="og:title", content="SOTF-Mods.com - The Best Mods for Sons of The Forest")
      meta(property="og:description", content="Find the best mods for Sons of The Forest at SOTF-Mods.com")
      meta(property="og:image", content="https://sotf-mods.com/static/images/sotfmods.png")
      meta(property="og:url", content="https://sotf-mods.com")
      meta(property="og:type", content="website")
      meta(property="twitter:title", content="SOTF-Mods.com - The Best Mods for Sons of The Forest")
      meta(property="twitter:description", content="Find the best mods for Sons of The Forest at SOTF-Mods.com")
      meta(property="twitter:image", content="https://sotf-mods.com/static/images/sotfmods.png")
      meta(property="twitter:url", content="https://sotf-mods.com")
    meta(name="robots", content="index, follow")
    block head
  body
    include _navbar.pug
    .body-wrapper
      block body
    dialog#alert-wrapper
      #alerts.animate__animated
    dialog#loading-screen
      span.loading.loading-infinity.loading-lg.text-success
    div#user-info(data-user=(JSON.stringify(user)))
    script.
      const user = JSON.parse((document.querySelector('#user-info').dataset.user));
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.5/purify.min.js" integrity="sha512-KqUc2WMPF/gxte9xVjVE4TIt1LMUTidO3BrcItFg0Ro24I7pGNzgcXdnWdezNY+8T0/JEmdC79MuwYn+8UdOqw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src='/static/scripts/shared.js' type="module")
    block scripts
