extends __layout

block head

block body
  h2 Tutorial By Nick
  // embed a youtube video
  iframe(width="560", height="315", src="https://www.youtube.com/embed/mr_XVhoVl8o", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
  hr
  h4 Text Guide 
  p Instructions for installing mods with Melon Loader for Sons of the forest
  h4 Step 1. Install .net 6 framework
  p
    | Download it from 
    a(href="https://dotnet.microsoft.com/en-us/download") here
    |  (Be sure to choose .net 6.0)
  h4 Step 2. Download Melon Loader v0.6.0 ALPHA
  ol
    li
      | Download MelonLoader 
      a(href="https://melonwiki.xyz/#/") here
    li Open it and then go into Settings > "Show ALPHA Pre-Releases" check it to true
    li Go back to Automated tab, Select the game Sons of the forest, and click install
  h4 Step 3. Install the mods
  p Now in your game folder you should have a Mods folder. Drop the mod .dll file of the mod in there and voilá
  h5 Common errors:
  p
    strong Error: Internal Failure: il2cpp_init detour failed: One of the dependent libraries is missing.
  p
    strong Solution:
    |  You didn't install .net 6 framework
block scripts
  //- script(src='/static/scripts/main.js' type="module")
