extends __layout

block head
  link(rel='stylesheet' href='/static/css/main.css')

block body
  h5 Top 3 Most popular mods
  .row.center-xs
    - for (const mod of mods.filter(mod => mod.isApproved).sort((a, b) => b.downloads - a.downloads).slice(0, 3))
      +mod-card(mod)
  h5 All mods
  .row.center-xs#mods-grid
    - for (const mod of mods.filter(mod => mod.isApproved))
      +mod-card(mod)

block scripts
  //- script(src='/static/scripts/main.js' type="module")
