extends __layout

block head
  link(rel='stylesheet' href='/static/css/main.css')

block body
  h5 #{userProfile.name}'s Mods
  .row.center-xs#mods-grid
    - for (const mod of mods)
      +mod-card(mod)

block scripts
  //- script(src='/static/scripts/main.js' type="module")
