extends ../__layout

block head
  link(rel='stylesheet' href='/static/css/main.css')

block body
  form#login-form(action='/user/login' method='post')
    article.card(style="max-width: 320px")
      header.card-header
        h2.card-title Login
        p#registered-p.color-info
      .card-body
        label.form-label(for="email") Email
        input(type="email", name="email", placeholder="Enter you email")
        p#email-error.color-red

        label.form-label(for="password") Password
        input(type="password", name="password", placeholder="Enter you password")
        p#password-error.color-red
      footer.card-footer
        button.button.style-accent Log In
      p#submit-error.color-red
      a(href="/user/register") Don't have an account? Register

block scripts
  script(src='/static/scripts/login.js' type="module")
