extends ../__layout

block head
  link(rel='stylesheet' href='/static/css/main.css')

block body
  form(action='/user/login' method='post')
    label(for='username') Username
    input(type='text' name='username' id='username' placeholder='Username')
    label(for='password') Password
    input(type='password' name='password' id='password' placeholder='Password')
    input(type='submit' value='Login')

block scripts
  script(src='/static/scripts/main.js' type="module")
