extends ../__layout

block head
  link(rel='stylesheet' href='/static/css/main.css')

block body
  form(action='/user/register' method='post')
    label(for='username') Username
    input(type='text' name='username' id='username' placeholder='Username')
    label(for='email') Email
    input(type='email' name='email' id='email' placeholder='Email')
    label(for='password') Password
    input(type='password' name='password' id='password' placeholder='Password')
    label(for='password2') Confirm Password
    input(type='password' name='password2' id='password2' placeholder='Confirm Password')
    input(type='submit' value='Register')

block scripts
  script(src='/static/scripts/main.js' type="module")
